--- 
layout: 'base.njk'
---

<header class="section container">
  <h1 class="article-title">{{ title }}</h1>
</header>
      <figure class="main-article__figure">
        <img src="{{ image }}" alt="{{ imageAlt }}">
      </figure>
<main class="pattern border-top">
  <article class="main-article">
    <div class="container container--narrow flow">
      {{ content | safe }}
    </div>
  </article>
</main>