<nav class="main-nav">
  <ul role="list" class="container flex-group">
    <li>
      <a href="/">Hi!</a>
    </li>
    <li>
      <a href="/portfolio">Portfolio</a>
    </li>
    <li>
      <a href="/cv">CV</a>
    </li>
  </ul>
</nav>