---
title: CV
layout: 'base.njk'
---
<main>
  <div class="container intro">
    <h1>CV.2025.</h1>
    <p>Experience.</p>
  </div>
  <div class="pattern border-top">
    
    <section class="container experience">
      <h2>Experience</h2>
      <ul class="timeline">
      {% for item in cv.items %}
        <li>
          <h3>{{ item.role }}</h3>
          <p>{{ item.place }} <svg width="4px" height="6px"> <circle r="2" cx="2" cy="2" fill="currentColor" /></svg> <span class="date">{{ item.date }}</span> <span class="years">[ {{ item.years }} ]</span></p>
          {% for paragraph in item.more %}
            <p class="more-info">{{ paragraph }}</p>
          {% endfor %}
        </li>
      {% endfor %}
      </ul>
    </section>

    <section class="container experience">
      <h2>Education</h2>
      <ul class="timeline">
        <li>
          <h3>Postgraduate degree on Branding</h3>
          <p>Universidad de Buenos Aires <svg width="4px" height="6px"> <circle r="2" cx="2" cy="2" fill="currentColor" /></svg> 2021</p>
        </li>
        <li>
          <h3>Graphic Designer</h3>
          <p>Universidad de Buenos Aires <svg width="4px" height="6px"> <circle r="2" cx="2" cy="2" fill="currentColor" /></svg> 2021</p>
        </li>
        <li>
          <h3>Bachelor of Visual Arts</h3>
          <p>Universidad Nacional de las Artes <svg width="4px" height="6px"> <circle r="2" cx="2" cy="2" fill="currentColor" /></svg> 2011 [unfinished]</p>
        </li>
        <li>
          <h3>Advertising - Art Direction</h3>
          <p>Escuela Superior de Creativos Publicitarios <svg width="4px" height="6px"> <circle r="2" cx="2" cy="2" fill="currentColor" /></svg> 2005</p>
        </li>
      </ul>
    </section>

    <section class="container skills">
      <h2>Skills</h2>
      <div class="flex-container">
        <span class="skill"><svg width="10px" height="10px"><use href="#solid" /></svg> Design</span>
        <span class="skill">UI</span>
        <span class="skill">UX</span>
        <span class="skill">Design System</span>
        <span class="skill">Product Strategy</span>
        <span class="skill">Branding</span>
        <span class="skill">Illustration</span>
        <span class="skill">Animation</span>
        <span class="skill">Open-source</span>
        <span class="skill">CSS</span>
        <span class="skill">HTML</span>
        <span class="skill">SVG</span>
        <span class="skill">Javascript</span>
        <span class="skill">Accessibility</span>
        <span class="skill">Performance</span>
        <span class="skill">Web graphics</span>
        <span class="skill">Progressive enhancement</span>
        <span class="skill">Git</span>
        <span class="skill">Writing</span>
        <span class="skill">Workshops</span>
      </div>
    </section>

    <section class="container tools">
      <div class="flex-title">
      <h2>Tools</h2>
      <p class="legends">
        <span><svg id="solid" width="12px" height="12px"><rect width="10" height="10" fill="#79e3e8" rx="1" /></svg> Solid</span>
        <span><svg id="intermediate" width="12px" height="12px"><polygon points="6,0 12,12, 0,12z" fill="#fee7a3" /></svg> Intermediate</span>
        <span><svg id="basic" width="12px" height="12px"><circle r="5" cx="6" cy="6" fill="#9a9ab9" /></svg> Basic</span>
      </p>
      </div>
      <div class="flex-container">
        <span class="tool"><svg width="12px" height="12px"><use href="#solid" /></svg> Figma</span>
        <span class="tool"><svg width="12px" height="12px"><use href="#intermediate" /></svg> Sketch</span>
        <span class="tool"><svg width="12px" height="12px"><use href="#solid" /></svg> Illustrator</span>
        <span class="tool"><svg width="12px" height="12px"><use href="#solid" /></svg> Photoshop</span>
        <span class="tool"><svg width="12px" height="12px"><use href="#basic" /></svg> After Effects</span>
        <span class="tool"><svg width="12px" height="12px"><use href="#intermediate" /></svg> Jira</span>
        <span class="tool"><svg width="12px" height="12px"><use href="#intermediate" /></svg> Confluence</span>
        <span class="tool"><svg width="12px" height="12px"><use href="#solid" /></svg> Visual Studio Code</span>
        <span class="tool"><svg width="12px" height="12px"><use href="#intermediate" /></svg> Miro</span>
        <span class="tool"><svg width="12px" height="12px"><use href="#solid" /></svg> GitHub</span>
        <span class="tool"><svg width="12px" height="12px"><use href="#intermediate" /></svg> Bitbucket</span>
        <span class="tool"><svg width="12px" height="12px"><use href="#intermediate" /></svg> GSAP</span>
        <span class="tool"><svg width="12px" height="12px"><use href="#basic" /></svg> Lottie</span>
        <span class="tool"><svg width="12px" height="12px"><use href="#basic" /></svg> Semrush</span>
        <span class="tool"><svg width="12px" height="12px"><use href="#basic" /></svg> Hotjar</span>
        <span class="tool"><svg width="12px" height="12px"><use href="#basic" /></svg> Notion</span>
      </div>

    </section>

    <section class="container languages">
      <h2>Languages</h2>
      <div class="flex-container">
        <div class="flex-item">
          <svg viewBox="0 0 200 8" width="200" heigh="4"><rect width="200" height="8" fill="green" rx="1" /></svg>
          <p>Spanish <span class="accent">[ native ]</span></p>
        </div>
        <div class="flex-item">
          <svg viewBox="0 0 200 8" width="200" heigh="4"><rect width="160" height="8" fill="green" rx="1" /></svg>
          <p>English <span class="accent">[ fluent ]</span></p>
        </div>
        <div class="flex-item">
          <svg viewBox="0 0 200 8" width="200" heigh="4"><rect width="80" height="8" fill="green" rx="1" /></svg>
          <p>Italian <span class="accent">[ basic ]</span></p>
        </div>
      </div>
    </section>

    </div>
  </main>