---
title: CV
layout: 'base.njk'
---
<header class="section container">
  <h1>CV.2025.</h1>
</header>
<main class="pattern border-top">
    <section class="experience">
      <h3>Experience</h3>
      <ul class="timeline">
        <li>
          <h4>Leniolabs LLC  •  <span class="date">May 2016 - Present</span>  <span class="years">[ 8.9 years ]</span></h4>
          <p>UI/UX Developer, Product Designer, Head of Branding</p>
        </li>
        <li>
          <h4>Leniolabs LLC • <span class="date">May 2016 - Present</span>  <span class="years">[ 8.9 years ]</span></h4>
          <p>UI/UX Developer, Product Designer, Head of Branding</p>
        </li>
        <li>
          <h4>Leniolabs LLC - <span class="date">May 2016 - Present</span>  <span class="years">[ 8.9 years ]</span></h4>
          <p>UI/UX Developer, Product Designer, Head of Branding</p>
        </li>
        <li>
          <h4>Leniolabs LLC - <span class="date">May 2016 - Present</span>  <span class="years">[ 8.9 years ]</span></h4>
          <p>UI/UX Developer, Product Designer, Head of Branding</p>
        </li>
        <li>
          <h4>Leniolabs LLC - <span class="date">May 2016 - Present</span>  <span class="years">[ 8.9 years ]</span></h4>
          <p>UI/UX Developer, Product Designer, Head of Branding</p>
        </li>
      </ul>
    </section>
    <section class="experience">
      <h3>Education</h3>
      <ul class="timeline">
        <li>
          <h4>2021</h4>
          <p>Postgraduate degree on Branding</p>
          <p>Universidad de Buenos Aires</p>
        </li>
        <li>
          <h4>2021</h4>
          <p>Postgraduate degree on Branding</p>
          <p>Universidad de Buenos Aires</p>
        </li>
      </ul>
    </section>

    <section class="skills">
      <h3>Skills</h3>
      <div class="flex-container">
        <span class="skill">Design</span>
        <span class="skill">Design</span>
        <span class="skill">Design</span>
        <span class="skill">Design</span>
        <span class="skill">Design</span>
      </div>
    </section>

    <section class="tools">
      <h3>Tools</h3>
      <div class="flex-container">
        <span class="tool">Figma</span>
        <span class="tool">Git</span>
        <span class="tool">Visual Studio Code</span>
        <span class="tool">Design</span>
        <span class="tool">Design</span>
      </div>
    </section>

    <section class="languages">
      <h3>Languages</h3>
      <div class="flex-container">
        <div class="flex-item">
          <svg viewBox="0 0 200 8" width="200" heigh="4"><rect width="200" height="8" fill="green" rx="1" /></svg>
          <p>Spanish [ native ]</p>
        </div>
        <div class="flex-item">
          <svg viewBox="0 0 200 8" width="200" heigh="4"><rect width="200" height="8" fill="green" rx="1" /></svg>
          <p>Spanish [ native ]</p>
        </div>
        <div class="flex-item">
          <svg viewBox="0 0 200 8" width="200" heigh="4"><rect width="200" height="8" fill="green" rx="1" /></svg>
          <p>Spanish [ native ]</p>
        </div>
      </div>
    </section>
  </main>