:root {
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;

  --ff-body: "Roboto", sans-serif;
  --ff-heading: "Playfair Display", serif;

  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;

  --clr-darkblue: #1d1d46;
  --clr-darkbluergb: 29 29 70;
  --clr-blue: #47509b;
  --clr-red: #f36;
  --clr-green: #00b6c6;
  --clr-darkgreen: #00828f;
  --clr-lightgreen: #79e3e8;
  --clr-yellow: #fee7a3;
  --clr-yellowrgb: 254 231 163;
  --clr-lightblue: #9a9ab9;
  --clr-lightgrey: #f2f2f2;


}

@media (min-width: 35em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
  }
}

/* //////////////////////
  RESET - source: https://piccalil.li/portfolio/a-modern-css-reset
  /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  color: var(--clr-darkblue);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--clr-darkblue);
}

h1 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-900);
  line-height: 1.1;
}

h1 { font-size: 6rem; }
h1.article-title { font-size: 3rem; }
h2 { 
  color: var(--clr-lightblue);
  font-weight: var(--fw-400);
}

strong {
  font-weight: var(--fw-700);
}

section,
.section {
  padding: min(10vh, 2em) 0;
}



/* //////////////////////
  Utility Classes
  /////////////////////// */

/* select all direct childen of .flow
   and add margin to the top for proper
   spacing */

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.container {
  margin-inline: auto;
  padding-inline: 1.5em;
  max-width: 88rem;
}

.container--narrow {
  max-width: 65rem;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.text-center {
  text-align: center;
}

/* typgraphy */


.article-title {
  font-size: var(--fs-700);
}

.section-title {
  font-size: var(--fs-600);
}


/* //////////////////////
  Header
  /////////////////////// */

.page-header {
  padding: 2em 0;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
}

/* //////////////////////
  Footer
  /////////////////////// */

.site-footer {
  --logo-color: currentColor;
  padding: 2em 0;
  background-color: var(--clr-primary-500);
  text-align: center;
}

/* //////////////////////
  Homepage
  /////////////////////// */

.hero > div {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  align-items: center;
  gap: 3em;
}

.hero__image {
  width: 100%;
  /* max-height: max(15rem, 40vh); */
  object-fit: cover;
}

@media (min-width: 45em) {
  .hero > div {
    grid-auto-flow: column;
  }
}

.featured-articles {
}

/* //////////////////////
  Individual article page
  /////////////////////// */

  pre {
    background-color: rgba(var(--clr-darkbluergb) / 100%);
    border-radius: 4px;
    color: var(--clr-darkblue);
    font-size: 1rem;
    margin: 2rem auto;
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
  }

  .main-article {
    background: #fff;
    box-shadow: 0 2px 2px 2px rgba(30, 29, 69, .1);
    border-radius: 2px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 78ch;
    padding: 4rem 4rem 4rem;
    transform: translateY(-4rem);
  }
  .main-article__figure {
    width: 100%;
  }
  .main-article__figure > img {
    filter: hue-rotate(-375deg);
    height: 480px;
    object-fit: cover;
    object-position: top;
    width: 100%;
  }

  .main-article h2 {
    font-size: 2.4rem;
    margin: 6rem 0 2rem;
}
.main-article h2, .main-article h3 {
    font-weight: 500;
    line-height: 1.3;
}
.main-article figure {
  margin: 2rem 0;
  text-align: center;
}
.main-article figcaption {
  color: var(--clr-lightblue);
  flex: 1 1 100%;
  font-size: 1rem;
  text-align: center;
}

/* //////////////////////
  Article snippets
  /////////////////////// */


.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
}

.btn:focus {
  outline: 0.125em solid var(--clr-darkgreen);
  outline-offset: 0.25em;
}

.btn--primary {
  background: var(--clr-darkgreen);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-darkgreen);
}
.btn--primary:hover,
.btn--primary:focus {
  background: var(--clr-darkblue);
  border-color: var(--clr-darkblue); 
  color: white;
}

.btn--neutral {
  font-weight: var(--fw-700);
}

.btn--neutral:hover,
.btn--neutral:focus {
}


/* //////////////////////
  Card styles
  /////////////////////// */
.filters {
  display: flex;
  gap: .8rem;
  margin: 2rem 0;
}
.filters li a {
  background-color: var(--clr-lightgrey);
  border: 2px solid var(--clr-lightgrey);
  border-radius: 20px;
  color: var(--clr-darkblue);
  padding: .3rem 1rem;
  text-decoration: none;
}
.filters li a:hover, .filters li a:focus {
  border: 2px solid var(--clr-blue);
}
.filters li a.active {
  background-color: var(--clr-yellow);
  border: 2px solid var(--clr-yellow);
}
  .cards-wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
  }
  .card {
    background-color: white;
    border: 2px solid var(--clr-lightgrey);  
    border-radius: 8px;  
    display: flex;
    flex-direction: column;
  }
  .card.work {
    border: 2px solid blueviolet;
  }
  .card.case-study {
    border: 2px solid lavender;
  }
  .card.blog {
    border: 2px solid salmon
  }
  .card > a {
    color: var(--clr-darkblue);
    height: 100%;
    text-decoration: none;
  }
  .card article {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .card__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1em;
    padding: 1rem;
  }
  
  .card__image {
    aspect-ratio: 9 / 5;
    object-fit: cover;
    width: 100%;
  }
  .card__title {
  }

.card__body {
  color: var(--clr-lightblue);
  }

  .card__meta {
    color: var(--clr-red);
    margin-top: auto;
  }
  
  .card__meta span {
    color: var(--clr-darkgreen);
  }
  .card__title {
    font-size: var(--fs-500);
  }
  
  .card__title a:hover,
  .card__title a:focus {
  } 
  
  @media (min-width: 45em) {

  }



/* mine */

.pattern {
    background-image: linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, .1) 25%, rgba(0, 0, 0, .1) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, .1) 25%, rgba(0, 0, 0, .1) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1) 76%, transparent 77%, transparent);
    background-size: 18px 18px;
    height: 100%;
}
.border-top {
    border-top: 6px double #dbdbe4;
}


/* nav */
.main-nav {
  background-color: white;
  border-block-end: 6px double var(--clr-green);
  font-size: 1.5rem;
  line-height: 1.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.main-nav a {
  color: var(--clr-darkblue);
  text-decoration: none;
}

.main-nav a:focus,
.main-nav a:hover {
  color: var(--clr-darkgreen);
  text-decoration: underline;
}
  
/* cv */
.timeline li {
  border-left: 1px solid var(--clr-lightblue);
  list-style: none;
  margin: 0;
  padding: 0 20px 40px;
  position: relative;
}
.timeline li:last-child { border: 0; }
.timeline li:before {
  content: "";
  background-color: white;
  border: 1px solid var(--clr-lightblue);
  border-radius: 50px;
  position: absolute;
  left: -10px;
  top: 0;
  height: 20px;
  width: 20px;
}
.timeline li h3 { 
  line-height: 1; 
  margin-block-end: .4rem; 
}
.timeline li p span {
  font-size: 1rem;
  font-weight: 500;
}
.timeline li p .date {
  font-style: italic;
}
.timeline li p { 
  font-size: 1rem;
  margin: 0;
}
.languages .flex-container {
  display: flex;
  gap: 2rem;
  margin-inline-start: 2rem;
}
.languages rect {
  fill: var(--clr-green)
}
.skills, .tools {
  margin-block-end: 2rem;
}
.skills .flex-container, .tools .flex-container {
  display: flex;
  gap: .4rem;
}
.skill, .tool {
  border: 1px solid var(--clr-lightblue);
  border-radius: 50px;
  padding: .5rem 1rem;
}





/**
* xonokai theme for JavaScript, CSS and HTML
* based on: https://github.com/MoOx/sass-prism-theme-base by Maxime Thirouin ~ MoOx --> http://moox.fr/ , which is Loosely based on Monokai textmate theme by http://www.monokai.nl/
* license: MIT; http://moox.mit-license.org/
*/
code[class*="language-"],
pre[class*="language-"] {
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: normal;
	font-family: Menlo, Monaco, "Courier New", monospace;
	font-size: 14px;
	color: #76d9e6;
	text-shadow: none;
}

pre > code[class*="language-"] {
	font-size: 1em;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
	background: #2a2a2a;
}

pre[class*="language-"] {
	padding: 15px;
	border-radius: 4px;
	border: 1px solid #e1e1e8;
	overflow: auto;
	position: relative;
}

pre[class*="language-"] code {
	white-space: pre;
	display: block;
}

:not(pre) > code[class*="language-"] {
	padding: 0.15em 0.2em 0.05em;
	border-radius: .3em;
	border: 0.13em solid #7a6652;
	box-shadow: 1px 1px 0.3em -0.1em #000 inset;
}

.token.namespace {
	opacity: .7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #6f705e;
}

.token.operator,
.token.boolean,
.token.number {
	color: #a77afe;
}

.token.attr-name,
.token.string {
	color: var(--clr-yellow);
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: var(--clr-yellow);
}

.token.selector,
.token.inserted {
	color: #a6e22d;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.important,
.token.deleted {
	color: #ef3b7d;
}

.token.regex,
.token.statement {
	color: #76d9e6;
}

.token.placeholder,
.token.variable {
	color: #fff;
}

.token.important,
.token.statement,
.token.bold {
	font-weight: bold;
}

.token.punctuation {
	color: #bebec5;
}

.token.entity {
	cursor: help;
}

.token.italic {
	font-style: italic;
}

code.language-markup {
	color: #f9f9f9;
}

code.language-markup .token.tag {
	color: #ef3b7d;
}

code.language-markup .token.attr-name {
	color: #a6e22d;
}

code.language-markup .token.attr-value {
	color: var(--clr-yellow);
}

code.language-markup .token.style,
code.language-markup .token.script {
	color: #76d9e6;
}

code.language-markup .token.script .token.keyword {
	color: #76d9e6;
}

/* Line highlight plugin */
.line-highlight.line-highlight {
	padding: 0;
	background: rgba(255, 255, 255, 0.08);
}

.line-highlight.line-highlight:before,
.line-highlight.line-highlight[data-end]:after {
	padding: 0.2em 0.5em;
	background-color: rgba(255, 255, 255, 0.4);
	color: black;
	height: 1em;
	line-height: 1em;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

